* {
  color: white
}

.text2 {
  color: white !important;
}


.navbar-brand img {
  max-height: 50px;

}

.nav-item {
  margin-right: 20px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  max-height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.logout-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0;
  margin-left: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
}
.logout-button:hover {
  background-color: rgb(175, 0, 0);
}

body {
  margin: 0;
  background-color: black !important;
}

.navbar-toggler-icon.text2 {
  color: white !important;
}

nav {
  background-color: #993399 !important;
}

h1 {
  border-bottom: 2px solid #993399;
}


.selec {
  color: #333 !important;
}

option {
  color: white;
}

#search-bar-form {
  text-align: center;
  margin-bottom: 20px;
}

#search-bar {
  width: 80%;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: black !important;
}

#pesquisarFormControl {
  background-color: white !important;
  color: black !important;
}

.form-control {
  background-color: #333 !important;
  color: white !important;
  border-color: #555 !important;
}

.form-select {
  background-color: #333 !important;
  color: white !important;
  border-color: #555 !important;
}

.custom-btn {
  width: 100%;
  background-color: #993399 !important;
  border-color: #993399 !important;
}


.custom-btn:hover {
  background-color: #993399 !important;
  border-color: #993399 !important;
}

.btn-voltar {
  background-color: #993399 !important;
  border-color: #993399 !important;
  margin-bottom: 15px;

}

.truncate {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logout-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0;
  margin-left: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
}
.logout-button:hover {
  background-color: darkred;
}