nav {
    background-color: #993399 !important;
}

.text2 {
    color: white !important;
}


.navbar-brand img {
    max-height: 50px;

}

.nav-item {
    margin-right: 20px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    max-height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

.nav-link {
    font-size: 1.1rem;
    color: #fff;
}

.logout-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0;
    margin-left: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

.logout-button:hover {
    background-color: rgb(175, 0, 0);
}

@media (min-width: 576px) {
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}

body {
    background-color: black;
    color: white;
}

#total {
    background-color: rgb(173, 52, 189);
}

::placeholder {
    color: aliceblue;
    opacity: 50%;
}

.carrinho {
    border: 3px;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-style: solid;
    border-color: rgb(173, 52, 189);

    a {
        color: white;
    }

    .promo {
        background-color: rgb(173, 52, 189);
        border-radius: 5px;
    }

    .oldprice {
        opacity: 50%;
    }
}

.payment {
    border: 2px;
    border-style: solid;
    min-height: 200px;
    border-color: rgb(173, 52, 189);
}

select {
    border: 2px;
    border-style: solid;
    border-color: rgb(173, 52, 189);
    color: white;
    background-color: rgb(26, 26, 26);
}

input {
    border: 2px;
    border-style: solid;
    border-color: rgb(173, 52, 189);
    color: white;
    background-color: rgb(26, 26, 26);
}

button {
    border: 2px;
    border-style: solid;
    border-color: rgb(173, 52, 189);
    color: white;
    background-color: rgb(173, 52, 189);
    width: 50%;
}


@media (min-width: 992px) {
    .carrinho {
        font-size: 1.5vw;
    }

    .payment {
        font-size: 1.5vw;
    }
}

@media (max-width: 991.98px) {
    .carrinho {
        font-size: 2.5vw;
    }

    .payment {
        font-size: 2vw;
    }
}

@media (max-width: 767.98px) {
    .carrinho {
        font-size: 4vw;
    }

    .payment {
        font-size: 3vw;
    }

    #pfltext {
        font-size: 3vw;
    }

    #collapsable {
        background-color: rgb(113, 34, 124);
    }
}

@media (max-width: 575.98px) {
    .carrinho {
        font-size: 6vw;
        height: auto;
    }

    .payment {
        font-size: 4vw;
    }
}